@import "reset";
@import "mixin";
// @import "animate";
@import "_color.scss";
// @import "_variables-fa-icons.scss";
// @import "_media.scss";
@import "var";
h1 {
  font-family: "georgia", Tahoma, 'Abyssinica SIL';
  font-weight: 400;
  // text-transform: uppercase;
  @include rem(font-size, 2.25);
  @include rem(line-height, $lh*1.875);
  // @media (max-width: 1000px) {
  //     @include rem(font-size, 2.827);
  //     @include rem(line-height, $lh*2);
  // }
}

h2 {
  @include rem(font-size, 1.741);
  // text-transform: uppercase;
  @include rem(line-height, 1.16);
  font-family: Tahoma, "georgia", 'Abyssinica SIL';
  @include rem(margin-left, 2.375);
  // @media (max-width: 1000px) {
  //     @include rem(font-size, 1.999);
  //     @include rem(line-height, $lh*2);
  // }
}

h3 {
  @include rem(font-size, 1.999);
  // text-transform: uppercase;
  @include rem(line-height, $lh*2);
  font-family: Tahoma, "georgia", 'Abyssinica SIL';
  @media (max-width: 1000px) {
    @include rem(font-size, 1.414);
    @include rem(line-height, $lh*1.5);
  }
}

h4 {
  @include rem(font-size, 1.414);
  text-transform: uppercase;
  @include rem(line-height, $lh*1.5);
  font-family: Tahoma, "georgia", 'Abyssinica SIL';
  @media (max-width: 1000px) {
    @include rem(font-size, 1);
    @include rem(line-height, $lh);
  }
}

h5 {
  @include rem(font-size, 1);
  text-transform: uppercase;
  @include rem(line-height, $lh);
  font-family: Tahoma, "georgia", 'Abyssinica SIL';
}

h6 {
  @include rem(font-size, 0.707);
  text-transform: uppercase;
  @include rem(line-height, $lh);
  font-family: Tahoma, "georgia", 'Abyssinica SIL';
}

a {
  display: inline-block;
  text-decoration: none;
  position: relative;
  color: $color-text;
  font-family: Abyssinica SIL, Tahoma, "georgia";
}

img {
  // display: block;
  max-width: 100%;
  height: auto;
  // margin: 0 auto;
}

// #owl-carousel {
//     background: rgba(#fff, .89);
//     // .item {
//     //     // margin: 1px;
//     //     @include rem(padding, 0);
//     //     // @include rem(margin-left, 0.43);
//     // }
//     // .active{
//     //     @include rem(margin-left, 0.4);
//     // }
// }
#owl-demo .item img {
  display: block;
  width: 100%;
  height: auto;
  // border-radius: 5px;
}

.topLine {
  @include font-size(1);
  background: rgba(#111, .7);
  position: fixed;
  z-index: 99;
  width: 100%;
  color: #ebebeb;
  @include rem(line-height, 3.125);
  box-shadow: 0 5px 10px rgba(#000, .5);
  font-family: "georgia";
  @include cf;
  @media(max-width: 600px) {
    top: 0;
  }
  @media(max-width: 700px) {
    text-align: center;
    i:before {
      content: "";
    }
    ul .user {
      display: none;
    }
    li {
      display: inline-block;
    }
  }
  // @media(max-width: 450px){
  //  li{
  //      @include rem(font-size, .9);
  //  }
  // }
  .user {
    @include font-size(1.44);
    display: block;
    float: left;
    vertical-align: middle;
    margin-left: 0;
    // font-style: italic;
  }
  li {
    display: block;
    float: right;
    display: inline-block;
    @include rem(margin-left, 1.81);
  }
  a {
    color: #ddd;
    &:after {
      border-bottom: none;
    }
  }
} //topline
// $topLineIcons: rgba(#F9B800, 1);
.userTelEmail {
  font-family: Abyssinica SIL, tahoma;
}

.tel {
  &:before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 14px;
    background-image: url("../img/tel.png");
  }
}

.email {
  &:before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 11px;
    background-image: url("../img/email.png");
  }
}

// .user-fa {
//   color: $topLineIcons;
//   @include fa($user);
// }
.name {
  @include rem(height, 37.81);
  background: #888 fixed url(../img/pizza-744405_1280-853.jpg) no-repeat;
  background-size: cover;
  @media (max-width: 768px) {
    background-image: url(../img/pizza-744405_768_512.jpg);
  }
}

// .nameContact {
//     margin: 18% 0% 1% 0%;
//     // overflow: hidden;
//     width: 45%;
//     float: right;
//     @media (max-width: 700px) {
//         width: 100%;
//         clear: right;
//         @include rem(margin-bottom,
//         3);
//         @include rem(margin-top,
//         2);
//     }
//     .tel:before,
//     .email:before {
//         @include rem(margin-right,
//         .8);
//         @include rem(font-size,
//         1.7);
//         color: #d40606;
//     }
//     h2 {
//         @include rem(margin-top,
//         $lh*.5);
//     }
//     a {
//         &:after {
//             border-bottom: none;
//         }
//     }
//     ul {
//         display: block;
//         border-radius: 5%;
//         box-shadow: 0 0 10px rgba(#111, .7);
//         margin: 0 auto;
//         background: rgba(#fff, .9);
//         @include rem(min-height,
//         18);
//         @include rem(max-width,
//         25);
//         @include rem(padding,
//         1);
//         @media (max-width: 1000px) {
//             @include rem(min-height, 15);
//             @include rem(max-width,
//             20);
//         }
//         h2 {
//             text-align: center;
//             color: #d40606;
//         }
//         p {
//             text-transform: uppercase;
//             text-align: center;
//             @extend h5;
//             @include rem(margin-bottom,
//             $lh*1.5);
//         }
//         li {
//             display: block;
//             margin: 0 auto;
//             @include rem(max-width,
//             17rem);
//             // margin-left: 15%;
//             @extend h4;
//             // &:last-child{
//             //  font-style: italic;
//             // }
//         }
//     }
// }
.nameTitle {
  // width: 52%;
  // float: left;
  @include rem(padding-top, 16.8);
  margin-left: 8%;
  @media (max-width: 700px) {
    width: 100%;
    clear: left;
    @include rem(margin-top, 6);
    text-align: center;
  }
  h1 {
    color: rgba(#bbb8b4, 1);
    // text-shadow: 0 0 3px #000;
  }
  span {
    color: rgba(#e4e4e4, 1);
    font-family: "georgia-italic";
    @include rem(font-size, 2);
  }
}

.nameDescription {
  @include rem(margin-top, 5.6);
  @include rem(margin-bottom, 6.06);
  @include rem(width, 20);
  margin-left: 49%;
  font-family: Abyssinica SIL, tahoma;
  @include rem(font-size, 1.16);
  color: #000;
  p {
    font-family: "georgia-italic", tahoma;
    @include rem(margin-top, 2.62);
    @include rem(font-size, 1.04);
    color: rgba(#000, .82);
  }
}

article {
  // @include rem(padding,$lh*5, 0);
  box-shadow: 0 -5px 10px rgba(#000, .5);
  .container {
    >p {
      // text-align: center;
      @include rem(margin-bottom, 3.813);
      @include rem(font-size, 1.6);
      @include rem(line-height, 1.45);
      @include rem(margin-left, 2.375);
    }
  }
}

.benefit {
  background: #ddd  url(../img/ravenna.png) repeat;
  @include rem(padding, 6.06, 0, 7.875, 0);
  h2 {
    @include rem(font-size, 1.741);
    // text-transform: uppercase;
    @include rem(line-height, 1.16);
    font-family: Tahoma, "georgia", 'Abyssinica SIL';
    @include rem(margin-left, 2.375);
    // @media (max-width: 1000px) {
    //     @include rem(font-size, 1.999);
    //     @include rem(line-height, $lh*2);
    // }
  }
}

// .item {
//     h3 {
//         text-align: center;
//         text-transform: uppercase;
//         // display: inline-block;
//         // border-bottom:  #d40606;
//         color: #d40606;
//     }
// }
.owl-carousel {
  background: #fcfcfc;
}

.benefitDescription {
  @include rem(margin-top, 6.25);
  @include rem(margin-left, 2.625);
  @include rem(font-size, 1.125);
  @include rem(line-height, 1.25);
  a {
    display: block;
    @include rem(margin-top, 1.44);
    @include rem(width, 15);
    @include rem(font-size, 1.16);
    @include rem(line-height, 1.16);
    color: #817f7f;
  }
}

.foto {
  @include rem(padding, 8.81, 0, 30.5, 0);
  h2 {
    text-align: left;
    @include rem(font-size, 1.26);
    // text-transform: uppercase;
    @include rem(line-height, 1.45);
    font-family: "georgia", Tahoma, 'Abyssinica SIL';
    @include rem(margin-left, 2.375);
    @include rem(margin-bottom, 4.19);
    // @media (max-width: 1000px) {
    //     @include rem(font-size, 1.999);
    //     @include rem(line-height, $lh*2);
    // }
  }
  // text-align: center;
  background: #111 url(../img/footer_lodyas.png) ;
  // background-size: cover;
  color: rgba(#fff, .9);
  // a{
  //  display: inline-block;
  //  margin: 0;
  //  padding: 0;
  //  // width: 100px;
  //  // min-height: 320px;
  //  max-width: 24.5%;
  //  min-width: 150px;
  //  box-shadow: 0 0 3px rgba(#fff,.7);
  //  // border-radius: 5px;
  //  &:after{
  //  border-bottom: none;
  //  }
  //  &:hover:after{
  //      border-bottom: none;
  //  }
  // }
  img {
    margin: 0;
    padding: 0;
  }
}
//  старая фотогалирея
// .mosaicflow__column {
//   float: left;
// }

// .mosaicflowMain {
//   // background: rgba(#fff, 0.89);
//   @include cf;
// }

// .mosaicflow__item img {
//   display: block;
//   width: 100%;
//   height: auto;
//   // padding: 1px;
// }

.Collage{

    /* define how much padding you want in between your images */
    padding:1px;
    background: rgba(#fff, 0.89);

    }

.Collage img{

    /* ensures padding at the bottom of the image is correct */
    vertical-align:bottom;

    /* hide the images until the plugin has run. the plugin will reveal the images*/
    opacity:0;

    }

.clients {
  background:  url(../img/city-lights-night-street.jpg);
  background-size: cover;
  color: rgba(#fff, 1);
  text-shadow: 0 0 3px #000;
  // text-align: center;
  border-top: 1rem rgba(#111, 1) solid;
  border-bottom: 1rem rgba(#111, 1) solid;
  // border-bottom-color: transparent;
  @include rem(padding, 6.74, 0, 0, 0);
  // display: table;
  h2 {
    text-align: left;
    @include rem(font-size, 1.26);
    // text-transform: uppercase;
    @include rem(line-height, 1.45);
    font-family: "georgia", Tahoma, 'Abyssinica SIL';
    @include rem(margin-left, 2.375);
    @include rem(margin-bottom, 4.19);
    // @media (max-width: 1000px) {
    //     @include rem(font-size, 1.999);
    //     @include rem(line-height, $lh*2);
    // }
  }
  h3{
    // display: block;
    text-align: left;
    @include rem(font-size, 1.16);
    // text-transform: uppercase;
    @include rem(line-height, 1.45);
    font-family: "georgia", Tahoma,  'Abyssinica SIL';
    @include rem(margin-left, 1.25);
  }
  @include cf;
  @media (max-width: 768px) {
    background-image: url(../img/city-lights-night-street_768.jpg);
  }
  p {
    text-align: left;
  }
  a {
    
      display: inline-block;
      @include rem(margin-top, 1.44);
      @include rem(margin-left, 1.15);
      // @include rem(width, 15);
      @include rem(font-size, 1.16);
      @include rem(line-height, 1.16);
      color: #817f7f;
    
  }
  section {
    background: rgba(#fff, .89);
    // @include rem(padding, $lh);
    // display: table-column;
    padding: 1px;
    @include rem(padding-bottom, 17.5);
    // @include rem(margin, $lh, 0);
    color: #000;
    text-shadow: none;
    // border-radius: 10px;
    @include cf;
    float: left;
    width: 32%;
    // height: 100%;
    margin-left: 2%;
    &:first-of-type {
      margin-left: 0;
    }
    img {
      width: 100%;
      // float: left;
      // @include rem(margin-right, 2);
      // margin: 1px;
      @include rem(margin-bottom, 1.44);
      // @media (max-width: 500px) {
      //   width: 100%;
      // }
    }
  }
  .clientsUp{
  @include rem( margin-top, 107/16);
  @include rem( margin-left, 30/16);
  @include rem( margin-bottom, 17.5);
  display: inline-block;
}
.footer{
  text-align: center;
  color: #fcfcfc;
  // @include rem(font-size, 46.53/16);
  // @include rem(line-height, 38.77/16);
  font-family: "georgia", Tahoma,  'Abyssinica SIL';
}
}



// .name-end {
//   @include rem(height, 45);
//   background: url(../img/rustic-670596_1280-853.jpg) fixed no-repeat;
//   background-size: cover;
//   @media (max-width: 768px) {
//     background-image: url(../img/rustic-670596_768.jpg);
//   }
// }

